{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-header %}{% trans "Log In" %}{% endblock %}
{% block modal_class %}login {% if hide %}modal hide{% endif %}{% endblock %}

{% block form_action %}{% url login %}{% endblock %}
{% block autocomplete %}{{ HORIZON_CONFIG.password_autocomplete }}{% endblock %}

{% block modal-body %}
  <fieldset>
    {% if request.user.is_authenticated and 'next' in request.GET %}
    <div class="control-group clearfix error">
      <span class="help-inline"><p>{% trans "You don't have permissions to access:" %}</p>
        <p><b>{{ request.GET.next }}</b></p>
        <p>{% trans "Login as different user or go back to" %}
        <a href="{% url horizon:user_home %}">{% trans "home page" %}</a></p>
      </span>
    </div>
    {% endif %}
    {% if next %}<input type="hidden" name="{{ redirect_field_name }}" value="{{ next }}" />{% endif %}
    {% include "horizon/common/_form_fields.html" %}
    <div class="control-group form-filed clearfix">
        <label>
        * 계정 신청 및 문의는 
        <a href="mailto:ngcloud@kt.com">ngcloud@kt.com</a>
	으로 해주시기 바랍니다.
        <br><br>
        <u><a href="https://ssproxy.ucloudbiz.olleh.com/v1/AUTH_e0a2ee2b-ccad-471c-b4a1-23a71a5c97a9/manual/UI_Manual.pdf" target="_blank">User Manual Download </a></u>
        </label>

  </fieldset>
{% endblock %}

{% block modal-footer %}
  <button type="submit" class="btn btn-primary pull-right">{% trans "Sign In" %}</button>
{% endblock %}
